@page "/study"

<div class="row d-flex justify-content-center align-items-center" style="height:90vh;">
        <div class="col-8">
            <div class="row">
                <Pomodoro />
            </div>
        <div class="row d-flex justify-content-center">
                <AppBibleNew.Components.Pages.Audio.StudyAudio/>
            </div>
        </div>
        <div class="col-4">
            <NoteCreate/>
        </div>
    </div>
@code {

}
