<div class="d-flex flex-column flex-shrink-0 bg-white border-end vh-100 navmenu" style="width: 10vw;">
    <!-- Logo -->
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto p-3 link-dark text-decoration-none">
        <img src="Image/logo_app.png" style="width:70%;" />
    </a>

    <!-- Menu -->
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/" class="nav-link link-dark">Trang Chủ</a>
        </li>
        <li>
            <a href="/Bible" class="nav-link link-dark">Kinh Thánh</a>
        </li>
        <li>
            <a href="/Prayer" class="nav-link link-dark">Cầu Nguyện</a>
        </li>
        <li>
            <a href="/studyAudio" class="nav-link link-dark">Học Tập</a>
        </li>
        <li>
            <a href="/prayerAudio" class="nav-link link-dark">Học Tập</a>
        </li>
        <li>
            <a href="/bibleAudio" class="nav-link link-dark">Học Tập</a>
        </li>
        <li>
            <a href="/pomodoro" class="nav-link link-dark">Cài Đặt</a>
        </li>
        <li>
            <a href="/notes" class="nav-link link-dark">Cài Đặt</a>
        </li>
    </ul>
</div>